@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  background-image: url("assets/to-do_flowers.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.main-title {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 4rem;
  letter-spacing: 0.4rem;
  margin: 20px 0;
}

.main-container {
  background-color: rgba(213, 191, 224, 0.302);
  height: 200px;
  width: 50%;
  margin: auto;
}

.add-item-container {
  display: flex;
  justify-content: center;
}

/* #add-item-btn {
  background-color: transparent;
  cursor: pointer; 
   border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 10px;
} */
