@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

body {
  background-image: url("assets/to-do_flowers.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.main-title {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 4rem;
  letter-spacing: 0.4rem;
  margin: 20px 0;
}

.add-item-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pencil-icon {
  font-size: 1.6rem;
}

.input-box {
  min-height: 55px;
  min-width: 325px;
  margin: 0 50px 0 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: rgba(213, 191, 224, 0.302);
  font-size: 1.5rem;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 0.3rem;
  color: black;
}

.no-outline:focus {
  outline: none;
}

.add-item-btn {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 10px;
}
